In [19]:
import pandas as pd

In [24]:
def sign(x):
    if (x>0):
        print(x,'positif')
    elif x == 0:
        print(x,'null')
    else:
        print(x,'negetif')

In [25]:
for i in range (10,-10,-1):
    sign(i)

10 positif
9 positif
8 positif
7 positif
6 positif
5 positif
4 positif
3 positif
2 positif
1 positif
0 null
-1 negetif
-2 negetif
-3 negetif
-4 negetif
-5 negetif
-6 negetif
-7 negetif
-8 negetif
-9 negetif

In [26]:
x=0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [29]:
def e_potentielle_limite(masse,hauteur,limite,g=9.81):
    E= masse* hauteur* g
    print(E)
    return E<limite

In [30]:
e_potentielle_limite(50,10,6000)

4905.0

True

In [64]:
def fibonacci(n):
    a=0
    b=1
    Fib=[a]
    while a<n:
        a,b=b,a+b
        Fib.append(a)
    return Fib
print(fibonacci(1000))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [47]:
villes=['Paris','Madrid','Amsterdam','Berlin','Londres','Bruxelles','Rome']
if 'Belfast' in villes:
    print('oui')
else:
    print('non')

non

In [49]:
for index,i in enumerate(villes):
    print(index,i)

0 Paris
1 Madrid
2 Amsterdam
3 Berlin
4 Londres
5 Bruxelles
6 Rome

In [50]:
liste_2=[0,10,20,30,40,50]
for a,b in zip(villes,liste_2):
    print(a,b)

Paris 0
Madrid 10
Amsterdam 20
Berlin 30
Londres 40
Bruxelles 50

In [1]:
liste_3=[]
for i in range(10):
    liste_3.append(i**2)
print(liste_3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
liste_4=[i**2 for i in range(10)]
liste_4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
liste_5=[[i for i in range(2)]for j in range(3)]
liste_5

[[0, 1], [0, 1], [0, 1]]

In [8]:
dictionnaire={'0':'Pierre',
              '1':'Jean',
              '2':'Julie',
              '3':'Sophie'}

In [9]:
prenoms=['Pierre','Jean','Julie','Sophie']

In [10]:
dico={k:v for k,v in enumerate(prenoms)}
print(dico)

{0: 'Pierre', 1: 'Jean', 2: 'Julie', 3: 'Sophie'}

In [11]:
dico.values()

dict_values(['Pierre', 'Jean', 'Julie', 'Sophie'])

In [12]:
ages=[24,62,10,23]

In [15]:
dico_2={prenom:age for prenom,age in zip(prenoms, ages) if age>30}
dico_2

{'Jean': 62}

##TUPLE

In [17]:
tuple_1=tuple((i**2 for i in range(10)))
tuple_1

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

EXERCICES

In [25]:
classeur={
    "positif":[],
    "negatif":[],
}

In [26]:
def trier(classeur,nombre):
    if nombre>=0:
        classeur['positif'].append(nombre)
    else:
        classeur['negatif'].append(nombre)
    return classeur

In [27]:
trier(classeur,-2)

{'positif': [], 'negatif': [-2]}

In [32]:
tuple_3=tuple((k**2 for k in range(20)))
dico3={k:v for k,v in enumerate(tuple_3)}
print(dico3)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}